# Server configuration
SERVER_PORT=8080

# Database configuration
DB_URL=jdbc:postgresql://localhost:5432/loyalty_db
DB_USERNAME=postgres
DB_PASSWORD=password
DB_DDL_AUTO=update
DB_SHOW_SQL=true
DB_FORMAT_SQL=true
DB_LOB_NON_CONTEXTUAL_CREATION=true
DB_POOL_SIZE=5

# Seeding configuration
GLOBAL_SEED_ENABLED=true
USER_SEED_ENABLED=true
TIER_SEED_ENABLED=true
PLAN_SEED_ENABLED=true
BENEFIT_SEED_ENABLED=true
TIER_CRITERIA_SEED_ENABLED=true
BENEFIT_CONFIGURATION_SEED_ENABLED=true
USER_MEMBERSHIP_SEED_ENABLED=true
PAYMENT_INTENT_SEED_ENABLED=true

