# Server configuration
SERVER_PORT=8080

# Database configuration
DB_URL=jdbc:postgresql://localhost:5432/loyalty_db
DB_USERNAME=postgres
DB_PASSWORD=password
DB_DDL_AUTO=update
DB_SHOW_SQL=true
DB_FORMAT_SQL=true
DB_LOB_NON_CONTEXTUAL_CREATION=true
DB_POOL_SIZE=5
